beautifulsoup4==4.4.1
Django==1.9.7
django-bootstrap-form==3.2.1
django-bootstrap-pagination==1.6.1
django-extra-views==0.8.0
djangorestframework==3.4.0
Pillow==3.3.0
requests==2.10.0
six==1.10.0
gunicorn
