{% extends "base.html" %}
{% load staticfiles %}

    {% block content %}
    <div class="container">

      <h1>Login</h1>

      <form class="form-horizontal" action="" method="post">
        {% csrf_token %}

                <div class="control-group">
                  <label class="control-label">Username</label>
                    <div class="controls">
                      {{form.username}}
                    </div>
                </div>

                <div class="control-group">
                  <label class="control-label">Password</label>
                    <div class="controls">
                      {{form.password}}
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                    {# <label class="checkbox">#}
                    {# <input type="checkbox"> Remember me#}
                    {# </label><br/>#}
                    <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>

                <div class="control-group">
                {% if form.errors %}
                   {% for field in form %}
                      {% for error in field.errors %}
                          {{ error }}
                      {% endfor %}
                   {% endfor %}
                {% endif %}
                </div>

            </form>

    </div><!--/container-->
    {% endblock %}
