<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>CORDIC | Bootstrap Theme</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- fav and touch icons 
    ======================================================================================-->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
  
	<!-- Start CSS Style 
    =======================================================================================-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <!-- Main Style -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link href="css/ie.css" rel="stylesheet" />
    <![endif]-->
    
</head>


<body>
	
    <header>
    	<div class="container">
            <div class="row">
                <div class="span4">
                    <img class="logo" src="images/logo.png" alt="Cordic logo" >
                </div>
                <!-- MENU
                ============================= -->
                <div class="span8">
                    <nav class="nav-top">
                        <ul class="nav nav-pills top-menu">
                            <!--Home-->
                            <li class="dropdown">
                                <img class="menu-top" src="images/menu-top.png" alt="" >
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Home Application</a></li>
                                    <li><a href="index_portfolio.html">Home Portfolio</a></li>
                                    <li><a href="index_corporate.html">Home Corporate</a></li>
                                    <li><a href="index_general.html">Home General</a></li>
                                </ul>
                            </li>
                            <!--Pages-->
                            <li class="dropdown active">
                                <img class="menu-top" src="images/menu-top.png" alt="" >
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="about_us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="our_team.html">Our Team</a></li>
                                    <li><a href="sitemap.html">Sitemap</a></li>
                                    <li><a href="404_error.html">404 error</a></li>
                                    <li><a href="faqs.html">FAQs</a></li>
                                    <li><a href="right_sidebar.html">Right Sidebar</a></li>
                                    <li><a href="left_sidebar.html">Left Sidebar</a></li>
                                    <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="sign_up.html">Sign Up</a></li>
                                </ul>
                            </li>
                            <!--Features-->
                            <li class="dropdown">
                                <img class="menu-top" src="images/menu-top.png" alt="" >
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="icons.html">Icons</a></li>
                                    <li><a href="buttons.html">Buttons</a></li>
                                    <li><a href="elements.html">Elements</a></li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Theme Colors</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="../theme_color_1/index.html">Theme Color 1</a></li>
                                            <li><a href="../theme_color_2/index.html">Theme Color 2</a></li>
                                            <li><a href="../theme_color_3/index.html">Theme Color 3</a></li>
                                            <li><a href="../theme_color_4/index.html">Theme Color 4</a></li>
                                            <li><a href="../theme_color_5/index.html">Theme Color 5</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!--Portfolio-->
                            <li class="dropdown">
                                <img class="menu-top" src="images/menu-top.png" alt="" >
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="2_columns.html">2 Columns</a></li>
                                    <li><a href="3_columns.html">3 Columns</a></li>
                                    <li><a href="4_columns.html">4 Columns</a></li>
                                    <li><a href="single_project.html">Single Project</a></li>
                                </ul>
                            </li>
                            <!--Blog-->
                            <li class="dropdown">
                                <img class="menu-top" src="images/menu-top.png" alt="" >
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog_list.html">Blog List</a></li>
                                    <li><a href="blog_details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <!--Contact Us-->
                            <li class="single">
                                <img class="menu-top" src="images/menu-top.png" alt="" >
                                <a href="contact_us.html">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="menuDevices">
                      <div class="select_outer">
                          <select onchange="location=this.value">
                                <option value="#">MENU</option>
                                <option value="index.html">Home Application</option>
                                <option value="index_corporate.html">Home Corporate</option>
                                <option value="index_general.html">Home General</option>
                                <option value="about_us.html">About Us</option>
                                <option value="services.html">Services</option>
                                <option value="our_team.html">Our Team</option>
                                <option value="sitemap.html">Sitemap</option>
                                <option value="404_error.html">404</option>
                                <option value="faqs.html">FAQs</option>
                                <option value="right_sidebar.html">Right Sidebar</option>
                                <option value="left_sidebar.html">Left Sidebar</option>
                                <option value="pricing_tables.html">Pricing Tables</option>
                                <option value="login.html">Login</option>
                                <option value="sign_up.html">Sign Up</option>
                                <option value="icons.html">Icons</option>
                                <option value="buttons.html">Buttons</option>
                                <option value="elements.html">Elements</option>
                                <option value="../theme_color_1/index.html">Theme Color 1</option>
                                <option value="../theme_color_2/index.html">Theme Color 2</option>
                                <option value="../theme_color_3/index.html">Theme Color 3</option>
                                <option value="../theme_color_4/index.html">Theme Color 4</option>
                                <option value="../theme_color_5/index.html">Theme Color 5</option>
                                <option value="2_columns.html">2 Columns Portfolio</option>
                                <option value="3_columns.html">3 Columns Portfolio</option>
                                <option value="4_columns.html">4 Columns Portfolio</option>
                                <option value="single_project.html">Single Project</option>
                                <option value="blog_list.html">Blog List</option>
                                <option value="blog_details.html">Blog Details</option>
                                <option value="contact_us.html">Contact Us</option>
                          </select>
                      </div><!--/select_outer-->
                    </div>
                </div>
            </div><!--/row-->
        </div>
    </header>
    
    <!--/slider-100-->
    
    
    <div class="container">    
    
    	<h1>Sitemap</h1>
        
        <div class="row wrap">
        
            <!-- ul-star -->
            <div class="span3">
                <h4>Archives</h4>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-ok"></i> January 2012</a></li>
                    <li><a href="#"><i class="icon-ok"></i> December 2011</a></li>
                    <li><a href="#"><i class="icon-ok"></i> November 2011</a></li>
                    <li><a href="#"><i class="icon-ok"></i> October 2011</a></li>
                    <li><a href="#"><i class="icon-ok"></i> September 2011</a></li>
                    <li><a href="#"><i class="icon-ok"></i> August 2011</a></li>
                    <li><a href="#"><i class="icon-ok"></i> July 2011</a></li>
                </ul>
            </div>
            <!--/ul-star-->
                
            <!-- ul-square -->
            <div class="span3">
                <h4>Other Links</h4>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-bolt"></i> mollis interdum.</a></li>
                    <li><a href="#"><i class="icon-bolt"></i> mollis interdum.</a></li>
                    <li><a href="#"><i class="icon-bolt"></i> mollis interdum.</a></li>
                </ul>
            </div>
            <!--/ul-square-->
                
            <!-- ul-check -->
            <div class="span3">
                <h4>Blogroll</h4>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-copy"></i> Feedback </a></li>
                    <li><a href="#"><i class="icon-copy"></i> Documentation </a></li>
                    <li><a href="#"><i class="icon-copy"></i> Themes </a></li>
                    <li><a href="#"><i class="icon-copy"></i> Support Forums </a></li>
                </ul>
            </div>
            <!--/ul-check-->
                
            <!-- ul-circle -->
            <div class="span3">
                <h4>Recent Posts</h4>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-link"></i> Maecenas faucibus mollis interdum.</a></li>
                    <li><a href="#"><i class="icon-link"></i> Maecenas faucibus mollis interdum.</a></li>
                    <li><a href="#"><i class="icon-link"></i> Maecenas faucibus mollis interdum.</a></li>
                    <li><a href="#"><i class="icon-link"></i> Maecenas faucibus mollis interdum.</a></li>
                    <li><a href="#"><i class="icon-link"></i> Maecenas faucibus mollis interdum.</a></li>
                    <li><a href="#"><i class="icon-link"></i> Maecenas faucibus mollis interdum.</a></li>
                    <li><a href="#"><i class="icon-link"></i> Maecenas faucibus mollis interdum.</a></li>
                </ul>
            </div>
            <!--/ul-circle-->
                
            <!-- ul-arrow -->
            <div class="span3">
                <h4>Recent Comments</h4>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-certificate"></i> Minus List - Lorem Ipsum is simply text</a></li>
                    <li><a href="#"><i class="icon-certificate"></i> Minus List - Lorem Ipsum is simply text</a></li>
                    <li><a href="#"><i class="icon-certificate"></i> Minus List - Lorem Ipsum is simply text</a></li>
                </ul>
            </div>
            <!--/ul-arrow-->       
                
            <!-- ul-minus -->
            <div class="span3">
                <h4>Categories</h4>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-flag"></i> Wordpress</a></li>
                    <li><a href="#"><i class="icon-flag"></i> Web Design</a></li>
                    <li><a href="#"><i class="icon-flag"></i> Logo Design</a></li>
                    <li><a href="#"><i class="icon-flag"></i> Graphic</a></li>
                    <li><a href="#"><i class="icon-flag"></i> Web Development</a></li>
                    <li><a href="#"><i class="icon-flag"></i> SEO</a></li>
                </ul>
            </div>
            <!--/ul-minus-->
                
        </div>
    </div><!--/container-->
    
    
    <footer>
    	<div class="container">
            <div class="row">
                <!-- Links
                ============================= -->
                <div class="span4">
                    <div class="top-part">
                        <ul class="footer-links">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about_us.html">About us</a></li>
                            <li><a href="blog_list.html">Blog</a></li>
                            <li><a href="sitemap.html">Sitemap</a></li>
                            <li><a href="contact_us.html">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="socials">
                    	<span>Stay Connected</span>
                        <a href="#"><i class="icon-facebook-sign"></i></a>
                        <a href="#"><i class="icon-twitter-sign"></i></a>
                        <a href="#"><i class="icon-google-plus-sign"></i></a>
                        <a href="#"><i class="icon-linkedin-sign"></i></a>
                        <a href="#"><i class="icon-github-sign"></i></a>
                    </div>
                </div>
                <!-- TWITTER
                ============================= -->
                <div class="span4">
                	<div class="top-part">Twitter Feed</div>
                	<div class="tweet"></div>
                </div>
                <!-- FLICKR
                ============================= -->
                <div class="span4">
                	<div class="top-part">Flickr Feed</div>
                	<ul class="basicuse thumbs"></ul>
                </div>
            </div>
        </div>
        
        <div class="bottom-area">
        	<div class="container">
            	<div class="row">
                	<div class="span6">
                    	Copyright © 2013 Cordic. All rights reserved.
                    </div>
                    <div class="span6 text-right">
                    	Socialize with us on Twitter, Facebook, Dribbble or Rss
                    </div>
                </div>
            </div>
        </div>
    </footer>
	
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/mosaic.1.0.1.js"></script><!--hover effect-->
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.carouFredSel-6.1.0-packed.js"></script><!--horizontal slider-->
    <script src="js/jquery.tweet.js"></script><!-- Twitter plugin -->
    <script src="js/jflickrfeed.min.js"></script><!-- jQuery Flickr -->
    <script src="js/jquery.masonry.min.js"></script><!-- jQuery Pinterest -->
    <script src="js/jquery.ui.totop.js"></script><!-- TOTOP -->
    <script src="js/custom.js"></script>
        
</body>
</html>
