{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% if request.user.profile.parent == None %}
<div class="container">
  <h1>Update Profile for {{object}}</h1>


  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    {% if request.user.profile.parent == None %}
            <div class="control-group">
                <label class="control-label" for="display_name">Display Name:</label>
                <div class="controls">
                  {{form.display_name}}
                </div>
            </div>
    <div class="control-group">
        <label class="control-label" for="rating_limit">Rating Limit:</label>
        <div class="controls">
          {{form.rating_limit}}
        </div>
    </div>
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="photo">Profile Photo:</label>
        <div class="controls">
          {{form.photo}}
        </div>
    </div>


    <div class="control-group">
        <div class="controls">

        <button type="submit" class="btn">Submit Profile</button>
        </div>
    </div>

  </form>
  <br><br>

</div>
{% else %}
<div class="container">
  <h2>Sorry, but you don't have access to this page!</h2>
</div>
{% endif %}

{% endblock %}
