{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load staticfiles %}
{% block content %}

{% if request.user.profile.parent == None %}
<div class="container">

  <h1>My Family</h1>

    <div class="row">

      <div class="span3 wrap">
        <img src={{user.profile.photo_url}} class='profile-pic' alt="" >
            <h4>{{user.profile.display_name}}</h4>
            <span class="job">{{user.username}}</span>

            <ul class="socials-member">
              <li class="first-title">Edit Profile</li>
                <li><a href="{% url 'profile_update_view'%}"><i class="icon-edit"></i></a></li>
                <li id='right' class='first-title'>Edit Queue</li>
                <li id='right'><a href="{% url 'queue_list_view' %}"><i class="icon-edit"></i></a></li>
            </ul>
        </div>


      {% for object in object_list %}
      <div class="span3 wrap">
          <img src={{object.photo_url}} class='profile-pic' alt="" >
            <h4>{{object.display_name}}</h4>

            {% if object.rating_limit %}
            <span class="job">{{object.user.username}} ({{object.rating_limit}})</span>
            {% else %}
            <span class="job">{{object.user.username}}</span>
            {% endif %}

            <ul class="socials-member">
              <li><a href="{% url 'child_profile_update_view' object.pk %}"><i class="icon-edit"></i></a></li>
              <li class="first-title">Edit Profile</li>

                {% if object.rating_limit %}
                <li id='right'><a href="{% url 'child_queue_list_view' object.pk %}"><i class="icon-edit"></i></a></li>
                <li id='right' class='first-title'>Edit Queue</li>

                {% endif %}

            </ul>
        </div>
        {% endfor %}

    </div>
    <a href="{% url 'create_child_view' %}">Add Family Members</a>

    <div class="pagination pagination-centered pagination-large">
      {% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" %}
    </div>

</div>
{% else %}
<div class="container">
  <h2>Sorry, but you don't have access to this page!</h2>
</div>
{% endif %}
{% endblock %}
