{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">

  <h1>My Family</h1>

    <div class="row">

      <div class="span3 wrap">
        <img src={{user.profile.photo_url}} height='250px' width='250px' alt="" >
            <h4>{{user.profile.display_name}}</h4>
            <span class="job">{{user.username}}</span>

            <ul class="socials-member">
              <li class="first-title">Edit Profile</li>
                <li><a href="{% url 'profile_update_view'%}"><i class="icon-edit"></i></a></li>
                <li class='first-title'>Edit Queue</li>
                <li><a href="{% url 'queue_list_view' %}"><i class="icon-edit"></i></a></li>
            </ul>
        </div>

        
      {% for object in object_list %}
      <div class="span3 wrap">
          <img src={{object.photo_url}} height='250px' width='250px' alt="" >
            <h4>{{object.display_name}}</h4>
            <span class="job">{{object.user.username}} ({{object.rating_limit}})</span>

            <ul class="socials-member">
              <li class="first-title">Edit Profile</li>
                <li><a href="{% url 'child_profile_update_view' object.pk %}"><i class="icon-edit"></i></a></li>
                {% if object.rating_limit %}
                <li class='first-title'>Edit Queue</li>
                <li><a href="{% url 'child_queue_list_view' object.pk %}"><i class="icon-edit"></i></a></li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}




    </div>
    <a href="{% url 'create_child_view' %}">Add Family Members</a>
</div>
{% endblock %}
