{% extends "base.html" %}

{% block content %}
<div class="container">

    {% if random_program %}

    <h1>Based on your queues, we think you should watch:</h1>


      <div class="row">

        <div class="span9">
            <div class="wrap blog">
                <img class="main-img" src="{{random_program.program.thumbnail}}" alt="" enctype=multipart/form-data>
                  {# <img class="icon-picture" width=84px src="{{random_program.program.thumbnail}}" alt="" enctype=multipart/form-data>#}
                  <h3>{{random_program.program.name}}</h3>
                  {% if network %}
                  <span class="data"><h5>Network: {{random_program.program.network}}   &nbsp;&nbsp;&nbsp;   {{random_program.program.rating}}</h5></span>
                  {% endif %}
                  <span class="data">Rating: {{random_program.program.rating}}<br>
                  </span><br/><br>
                  <p>Overview: {{random_program.program.overview}}</p>
              </div>

              <br>
              <h4><em>(Parents, these shows are all {{rating_limit}} or less)</em></h4>
              <br>
              <br>
              {% else %}
              <br>
              <h3>Oops! It appears that there are no programs in these queues!</h3>  <h4><br><br>Do you want to add programs to your queue?</h4>
              <br>
              <a class='btn btn-primary btn-large' type="button" name="button" href="{% url 'program_list_view' %}">Add Programs</a>
              <br>
              <a href="{% url 'family_queue_create_view' %}">No thanks, let me select my family members again.</a>

              {% endif %}

          </div>




</div>
</div>






{% endblock %}
