{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <form class="" action="" method="post">
    {% csrf_token %}
  <h4>Select those who will be watching:</h4>
  {{form}}
    <br>
  Hold down "Control", or "Command" on a Mac, to select more than one.
    <br>
    <br>
    <button type="submit" class="btn btn-danger">Submit Group</button>


    <div class="control-group">
    {% if form.errors %}
       {% for field in form %}
          {% for error in field.errors %}
              {{ error }}
          {% endfor %}
       {% endfor %}
    {% endif %}
    </div>



  </form>
  <br><br>
</div>



{% endblock %}
