{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if request.user.profile.parent == None %}
<div class="container">
  {% if user.profile.display_name %}
  <h1>Update {{user.profile.display_name}}'s Profile</h1>
  {% else %}
  <h1>Update {{user}}'s Profile</h1>

  {% endif %}

  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="control-group">
        <label class="control-label" for="display_name">Display Name:</label>
        <div class="controls">
          {{form.display_name}}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="email">Email:</label>
        <div class="controls">
          {{form.email}}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="photo">Profile Photo:</label>
        <div class="controls">
          {{form.photo}}
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
        <button type="submit" class="btn">Submit Profile</button>
        </div>
    </div>



  </form>
  <br><br>

</div>
{% else %}
<div class="container">
  <h2>Sorry, but you don't have access to this page!</h2>
</div>
{% endif %}

{% endblock %}
