{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <br>
  <img src="{{object.banner}}" alt="" class='centered' enctype=multipart/form-data/><hr>
  <h1 class='heading'>{{object.name}}</h1>
  <p>Rating: {{object.rating}}</p><br>
  <p>Runtime: {{object.runtime}}</p><br>
  <p>Overview: {{object.overview}}</p><br>

{% if request.user.profile.parent == None %}
<br>
<h4>For Parents Only:</h4>
<p><em>This information is provided to those signed in with a parent account only.  The content may be inappropriate for some users, but is provided to assist parents make informed decisions.</em></p>
<hr>
  <p>Review: <br>{{object.review}}</p><br>
  <p>Positive Message: <br>{{object.positive_message}}</p><br>
  <p>Positive Role Model: <br>{{object.positive_role_model}}</p><br>
  <p>Violence Warning: <br>{{object.violence}}</p><br>
  <p>Sexual Content Warning: <br>{{object.sex}}</p><br>
  <p>Language Warning: <br>{{object.language}}</p><br>
  <p>Consumerism Warning: <br>{{object.consumerism}}</p><br>
  <p>Substance Warning: <br>{{object.substance}}</p><br>
  {% endif %}
</div>

{% endblock %}
