{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load staticfiles %}

{% block content %}


    <!--/slider-100-->

    <div class="container">
      <h1>
        <div class="row">
        <div class="span6" id='list-header'>Program List</div>
        <div class="span6"id='list-header'>
          <label for="search_box" class="control-label"></label>
                     <form action="{% url 'program_list_view' %}" method="get">
                         <div class="input-group" id="searchbar">
                             <input id="search_box" type="text" class="form-control" name="search" placeholder='Search Program Title'>
                             <span class="input-group-btn">
                                 <input id="search_button" type="submit" class="btn btn-primary" value="Search">
                             </span>
                         </div>
                     </form>
                   </div>
      </div>
    </h1>

      <div class="row gallery clearfix" id="portfolio-list">
          {% for object in object_list %}
          <div class="span3 features">
            <div class="portfolio">
                  <img src={{object.thumbnail}} alt="" >
                  <h3><a href={% url 'program_detail_view' object.pk %}>{{object.name|truncatechars:25}}</a></h3>
                    {% if object.name in queue_list %}
                    <span>{{object.rating}} <a class="btn btn-success pull-right" type="button"><i class=" icon-ok"></i></a></span>
                    {% else %}
                    <span>{{object.rating}} <a class="btn btn-inverse pull-right" type="button" href="{% url 'queue_create_view' user.queue.id object.pk %}"><i class=" icon-plus"></i></a></span>
                    {% endif %}
              </div>
          </div>
          {% endfor %}



    </div>
    <div class="pagination pagination-centered">
      {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
    </div>

      </div>
      {% endblock %}
