{% extends "base.html" %}
{% load bootstrap_pagination %}



{% block content %}


    <!--/slider-100-->

    <div class="container">

      <table>
        <tbody>
          <tr>
            <td class="span6"><h2>{{user.profile.display_name}}'s Queue</h2></td>
            <td class='span6'><h2><label for="search_box" class="control-label"></label>
                       <form action="{% url 'queue_list_view' %}" method="get">
                           <div class="input-group">
                               <input id="search_box" type="text" class="form-control" name="search" placeholder='Search Program Title'>
                               <span class="input-group-btn">
                                   <input id="search_button" type="submit" class="btn btn-primary" value="Search">
                               </span>
                           </div>
                       </form></h2></td>
          </tr>
        </tbody>
      </table>
      {# <div class="row">#}
        {# <div class="span12">#}
            {# <ul id="portfolio-filter" class="sortOptions">#}
              {# <li>Filter by </li>#}
              {# <li><a href="">show all</a></li>#}
              {# <li><a href="">Design</a></li>#}
              {# <li><a href="">Print</a></li>#}
              {# <li><a href="">Most creative</a></li>#}
            {# </ul>#}
          {# </div>#}
      {# </div>#}

      <div class="row gallery clearfix" id="portfolio-list">

          {% for object in object_list %}
          <div class="span3 features">
            <div class="portfolio">
                  {# <a href="images/img/proj2.jpg" rel="prettyPhoto[gallery2]" title="Big View">#}
                      {# <span class="preview"><i class="icon-lightbulb"></i></span>#}
                  {# </a>#}
                  <img src={{object.program.thumbnail}} alt="" >
                  <h3><a href={% url 'program_detail_view' object.pk %}>{{object.program.name}}</a></h3>
                  <span>{{object.program.rating}} <a class="btn btn-inverse pull-right" type="button" href=""><i class=" icon-remove"></i></a></span>
              </div>
          </div>
          {% endfor %}


    </div>





    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}

    {% endblock %}

      </div>
